#arena {
	margin: 0 auto;
	margin-top: 50px;
	width: 800px;
	height: 400px
}
body{
    background: grey;
}
#game-canvas
{
	border: 1.5px solid blue;

}
#score{
    font: 46px Algerian;
    text-align: center;
    color: #ff0;
    text-shadow: 2px 2px 4px rgba(0,0,80,1.1);
    
}
#fps
{
    position: absolute;
    margin-top: -2em;
    z-index: 1;
    color: yellow;
    text-shadow: 1px 1px 1px rgb(0,0,8.0);
    font: bold 20px Arial Black;
    
}
#toast
{
    position: absolute;
    margin-left: 100px;
    margin-top: 20px;
    width: 600px;
    font: 40px Algerian;
    text-align: center;
    color: #ff6;
    text-shadow: 2px 2px 4px rgb(0,0,0);
    
    display: none;
    z-index: 1;
}
#instructions
{
    margin-left: 155px;
    padding-top: 10px;
    padding-left: 5px;
    height: 2em;
    color: #ff0;
    font-size: 0.95em;
    
    transition: opacity 5s;
    display: none;
    opacity: 0;
}
.keys
{
    color:blue;
    text-shadow: 1px 1px 1px rgba;
    background: rgba(0,0,0,0.1);
    border: thin solid rgba(0,0,0,0.2);
    border-radius: 5px;
    margin-left: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    
    display: inline;
}

.explination
{
    color: #ff0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    
    display: inline;
    margin-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;  
}
#copyright
{
    float: right;
    margin-top: -2em;
    margin-right: 2px;
    padding: 2px;
    color: blue;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    font-size: 0.85em;
    
    transition: opacity 5s;
    display: none;
    opacity: 0;  
}
#sound-and-music
{
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
    color: #ff0;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.2);
    border: thin solid rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.9em;
    
    transition: opacity 5s;
    display: none;
    opacity: 0;
}
.checkbox-div
{
    display: inline;
    text-shadow: 1px 1px 1px blue;
    
}

#sound-checkbox-div
{
    margin-right: 10px;
}
#loading
{
    position: absolute;
    margin-top: 80px;
    width: 790px;
    font: 55px monospace;
    text-align: center;
    
    transition: opacity 2s;
}
#loadingT
{
    padding-left: 40px;
    padding-bottom: 30px;
    color: #ff0;
    text-shadow: 2px 2px 4px rgb(0,0,0);
    transition: opacity 2s;
    display: none;
    opacity: 0;
}

#leading-animated-gif
{
    margin: 0 auto;
    border: thin solid rgba(0,0,255,0.7);
    border-radius: 60px 60px 60px;
    padding: 40px;
    margin-top: 10px;
    
    transition: opacity 2s;
    display: none;
    opacity: 0;
}
